@font-face {
    font-family: 'Neris-SemiBold';
    src: url('./fonts/Neris-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crewniverse';
    src: url('./fonts/crewniverse/crewniverse_font.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kubos Bold';
    src: url('./fonts/kubos/kubos-bold.otf');
    font-weight: normal;
    font-style: normal;
}

#header-kit {
    background-image: url('/sitio_imagen/static/src/img/header_kit.png')
}

.img-header-kit {
    width: 100%;
    margin-top: -12px !important;
    padding-top: 0px !important;
}

.p-text-info {
  font-family: 'Neris-SemiBold';
  color: #626875;
  font-size: 18px !important;
}

.border-img {
    width: auto;
    height: auto;
}

.h-title-kit {
    font-size: 16px !important;
    font-family: 'Kubos Bold';
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    color: #04a32a;
    letter-spacing: 5px;
}

.form-singin {
    width: 80% !important;
    margin: 0 auto;
}

.title-intro {
    font-size: 16px !important;
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    font-family: 'Crewniverse';
    color: #04a32a;
    letter-spacing: 5px;
}

.other-title {
    font-size: 18px !important;
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    font-family: 'Crewniverse';
    color: #04a32a;
    letter-spacing: 2px;
    text-align: left !important;
}

.name-product-landing {
    font-size: 15px !important;
    font-family: 'Crewniverse';
    color: #04a32a;
    letter-spacing: 2px;
    margin-bottom: 2rem !important;
}

.row-product {
    margin-top: 3rem !important;
}

.btn-detail {
    background-color: #019c35 !important;
    color: white;
    font-family: 'Crewniverse';
    border-radius: 25px !important;
    padding: 10px !important;
    box-shadow: 5px 7px 17px #6f6a6fa6;
}

.h-singin {
    font-size: 16px !important;
    font-family: 'Crewniverse';
    margin-bottom: 2rem !important;
    color: #206dbf !important;
    letter-spacing: 2px;
}

.text-neris-semibold {
    font-family: 'Neris-SemiBold' !important;
    color: #206dbf !important;
    font-size: 18px !important;
}

.custom-control-label, .form-check-label {
    font-size: 18px !important;
}

#content-landing {
    margin-top: 2.5rem !important;
}

.btn-send {
    background-color: #206dbf !important;
}

.ul-features {
    font-family: 'Neris-SemiBold';
    color: #626875;
    list-style: none;
    font-size: 20px !important;
}

.ul-features li:before {
    content: '✓';
}

.title-landing {
    font-size: 20px !important;
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    font-family: 'Crewniverse';
    color: #04a32a;
    letter-spacing: 3px;
}

.img-separator {
    width: 90% !important;
    margin-top: -53px !important;
}

#products {
    background-color: #FFD00B !important;
}


.img-product {
    width: 81% !important;
}

.product-landing {
  /* width: calc(33.33% - 66.5px); */
  width: 450px;
  height: 450px;
  padding: 0px;
  display: inline-block;
  border: 2px solid #04a32a;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
  background: transparent;
}

.product-landing figure {
  position: relative;
  transition: all .5s;
  margin: 12px 0px 0px 12px;
  z-index: -1;
}


.product-landing figure img {
  width: 452px;
  height: 452px;
  max-width: 452px !important;
  z-index: -2;
}